engine-strict=true
auto-install-peers=true
strict-peer-dependencies=false
package-lock=false
package-import-method=clone-or-copy
prefer-frozen-lockfile=true
engine-strict=true
use-node-version=18.19.0
node-version=18.19.0
shamefully-hoist=true 